@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{padding: 0;
margin: 0;}

body{
font-family: "Lora", serif;
font-weight: 400;
font-style: normal;
background-color: black;
color: antiquewhite;
}

nav li{
list-style: none;
}

a{
color: white;
background-color: black;
padding: 0.5em;
border-radius: 1em; 
text-decoration: none;
transition:all 450ms
}

a:hover{
color: red;
padding: 1em;
}

header{
background-color: red;
display: flex;
justify-content: space-between;
align-items: center;
    
}

header ul{ 
width: 80vw;
display: flex;
justify-content:space-around;
}

header img{
    width: 10vw;
}
header div{
    display: flex;
    align-items: start;
    height: 13vw;
}

h1{
    color: red;
    display: flex;
    justify-content: center;
    padding: 1em
}
h2{
    color: red;
    display: flex;
    justify-content:center;
    align-items: center;  
}
img{
    width:10vw;
}

div video{
    width: 50vw;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
div p{
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overons{
    text-align: center;    
}

.overons main p {
    padding: 2em;
}

main{
    margin: 2em;
}

main img{
    width: 15em;
}
main h2{
    text-align: center;
}

.overzichtspagina div{    
    display: flex;
    justify-content:space-between ;
    border-style:solid;
    border-color: red;
    border-width: 0.2em;
}
.overzichtspagina p{
    display: flex;
    justify-content:flex-end;  
}
.overzichtspagina h3{
    color: red;
}
.overzichtspagina article img{
    width: 20em;
}
.overzichtspagina p:hover{
    color:red;
    padding: 1em;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer li{
    padding: 1em;
}
footer{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bronnelijst li{
list-style: none;
display: flex;
justify-content:center;
align-items: center;
padding: 1em;
}

.bronnelijst a{
    border-style: solid;
    border-color: red;

}
.bronnelijst a:focus{
    background-color: lawngreen
}
.bronnelijst a:hover{
    background-color: rgb(56, 49, 49);
}
